.playerBoard {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.playerBoard-score {
    position: absolute;
    left: 2%;
    bottom: -10%;
    font-size: 48px;
    font-weight: 500;
    color: white;
}